* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
	scroll-behavior: smooth;
}

.container{
	width: 100%;
}

body{
	font-family: 'Oxygen', sans-serif;
	font-size: 18px;
}

.home-wrap, #projects, .about-wrap, .contact-wrap, .footer{
	max-width: 1000px;
	margin: auto;
	padding: 50px 50px;
	text-align: center;
}

#about, #contact{
	background: #F1F1F1;
}

#welcome-section, footer{
	background: #0074e4;
	color: #FFF;
}

ul{
	list-style: none;
}

li a{
	text-decoration: none;
}

nav{
	position: fixed;
	z-index: 1;
	width: 100vw;
	height: 50px;
	padding: 0 20px;
	background: #0074e4;
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

nav ul{
	height: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

nav li{
	flex: 0 0 100px;
	text-align: center;
}

nav li a{
	-webkit-transition: all 0.4s;
  transition: all 0.4s ease;
	color: #FFF;
}

nav a:hover{
	font-weight: bold;
	padding: 5px 10px;
	border: 2px solid #FFF;
	border-radius: 5px;
}

nav a:active{
	font-size: 0.9em;
	color: red;
}

.home-wrap{
	height: 100vh;
	text-align: center;
	padding-top: 150px;
}

.home-wrap p{
	margin: 30px;
	font-size: 1.8em;
}

.welcome-name{
	font-size: 3.75em;
}

.name{
	font-family: 'Yellowtail', cursive;
}

h2{
	font-size: 2.25em;
}

.about-wrap{
	height: 100vh;
}

.about-wrap>h3{
	font-size: 1.75em;
	color: #0074e4;
	margin: 60px 0;
}

.about-wrap>p{
	font-size: 1.1em;
	margin-bottom: 60px;
}

#projects{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

#projects>h2{
	width: 100%;
}

.project-tile{
	width: 47%;
	height: auto;
	position: relative;
	margin: 40px 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
	border-radius: 5px;
}

.overlay {
  position: absolute; 
  bottom: 0; 
	top: 0;
	border-radius: 5px;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  transition: 0.5s ease;
  opacity:0;
  color: white;
  padding: 25%;
}

.project-tile:hover .overlay {
  opacity: 1;
}

.contact-wrap{
	display:flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.contact-wrap>h2{
	width: 100%;
	margin-bottom: 25px;
}

.info{
	width: 40%;
	text-align: left;
}

.info-style{
	font-weight: bold;
}

.media-group{
	width: 40%;
}

.media-group>ul{
	display: flex;
	height: 100%;
	justify-content: space-around;
	align-items: center;	
}

.links{
	font-size: 3em;
}

.links a{
	color: #000;
	transition: all 0.4s ease;
}

.links a:hover{
	font-size: 1.2em;
	color: #0074e4;
}

.links a:active{
	font-size: 0.9em;
	color: red;
}

.footer{
	padding: 10px;
}

.foot-name{
	font-size: 1.25em;
}

/* MEDIA QUERY 800 START */
@media screen and (max-width: 800px){
	body{
		background: pink;
		font-size: 16px;
	}
	
	.home-wrap, #projects, .about-wrap, .contact-wrap, .footer{
		padding: 50px 25px;
	}

	.home-wrap{
		padding-top: 175px;
	}

	.home-wrap p{
		font-size: 1.8em;
	}

	.welcome-name{
		font-size: 3.6em;
	}
	
	.about-wrap>h3{
		font-size: 1.75em;
	}

	.project-tile{
		border-radius: 7px;
		width: 100%;
		margin: 40px 25px;
	}

	.info{
		width: 47%;
	}

	.media-group{
		width: 45%;
	}

	.links{
		font-size: 3.25em;
	}

	.footer{
		padding: 10px;
	}

	.foot-name{
		font-size: 1.3em;
	}
}
/* MEDIA QUERY 800 END */

/* MEDIA QUERY 600 START */
@media screen and (max-width: 600px){
	body{
		background: yellow;
		min-width: 300px;
	}
	
	.home-wrap, #projects, .about-wrap, .contact-wrap, .footer{
		padding: 30px 0px;
	}
	
	nav{
		width: 100%;
		padding: 0;
	}
	
	nav li{
		flex: 1 1 80px;
	}
	
	nav li a{
		-webkit-transition: all 0.2s;
		transition: all 0.2s ease;
	}

	.home-wrap{
		padding-top: 200px;
	}

	.home-wrap p{
		font-size: 1.25em;
	}

	.welcome-name{
		font-size: 2.4em;
	}
	
	.about-wrap>h3{
		font-size: 1.6em;
		margin: 50px 10px;
	}

	.project-tile{
		border-radius: 7px;
		width: 90%;
		margin: 25px 0;
	}

	.contact-wrap{
		flex-direction: column;
	}
	
	.contact-wrap>h2{
		margin-bottom: 25px;
	}

	.info{
		width: 80%;
		margin: 0 auto 15px;
	}

	.media-group{
		width: 80%;
		margin: auto;
	}

	.links{
		font-size: 2.8em;
		flex: 1 1 25%;
	}

	.links a{
		transition: all 0.2s ease;
	}

	.links a:hover{
		font-size: 1em;
	}

	.links a:active{
		font-size: 1em;
	}

	.footer{
		padding: 10px;
	}
}
/* MEDIA QUERY 600 END */
